<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@{
    ViewData["Title"] = "Etat du parc matériel";
    int materialNumber = 0;
    int outOfOrderMaterialNumber = 0;
    foreach (var material in Model.Materials)
    {
        materialNumber++;
        if (!material.IsFunctional)
        {
            outOfOrderMaterialNumber++;
        }
    }
    int avaibleMaterial = materialNumber - outOfOrderMaterialNumber;

    bool searchResult = true;
}
<h1 id="state_material_title">@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5 state_panel">
            <h3>Etat global du parc</h3><br />

            <p>Nombre total de matériels : @materialNumber</p>
            <p>Nombre de matériels disponibles immédiatement : @avaibleMaterial</p>
            <p>Nombre de matériels HS : @outOfOrderMaterialNumber</p>
            <p>Nombre d'incidents en cours : ---</p><br />
        </div>

        <div class="col-md-5 state_panel">
            <h3>Recherche d'un matériel</h3>

            <div class="row">
                <div class="col-md-4">
                    <h4>Type de matériel :</h4>
                </div>
                <div class="col-md-8">
                    <select class="form-select" id="material-select">
                        <option selected disabled>Choisissez un type de matériel</option>
                        @{
                            foreach (var materialType in Model.MaterialTypes)
                            {
                                <option value=@materialType.TypeName>@materialType.TypeName</option>
                            }
                        }
                    </select>
                </div>
                
                 
            </div>
            
            
        </div>

    </div>
</div>

@if (searchResult)
{
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10 state_panel" id="search_results">
                <h3>Résultats de la recherche</h3><br />

                <p>
                    Donec gravida lorem augue, eu sagittis leo cursus at. Sed blandit leo eget est bibendum iaculis. Aenean tincidunt ex urna, id mollis nulla fringilla quis. Integer cursus orci id massa tristique fermentum. Aliquam tortor leo, elementum in tempor vitae, maximus sed nulla. Etiam condimentum laoreet orci, nec blandit ligula sodales tristique. Praesent interdum odio ut sem efficitur vestibulum. Maecenas ac sagittis lorem. Sed posuere nulla ac augue tincidunt, nec efficitur tortor semper. Mauris finibus luctus erat vitae gravida. Sed a tempus neque. Ut augue est, vehicula non ipsum sed, viverra tempor tellus. Phasellus quis pharetra lorem, vitae sollicitudin nisi. Nam interdum congue tellus, quis auctor justo porta at.
                </p>
            </div>

        </div>
    </div>
}
