@using AuthMVC2.Models.ViewModels

@model AuthMVC2.Models.ViewModels.MaterialSearchViewModel


@{
    ViewData["Title"] = "Etat du parc matériel";
    int materialNumber = 0;
    int outOfOrderMaterialNumber = 0;
    foreach (var material in Model.Materials)
    {
        materialNumber++;
        if (!material.IsFunctional)
        {
            outOfOrderMaterialNumber++;
        }
    }
    int avaibleMaterial = materialNumber - outOfOrderMaterialNumber;

    bool searchResult = false;
    List<string> materialList = new List<string> { };

}



<h1 id="state_material_title" class="text-center mx-auto">@ViewData["Title"]</h1>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5 state_panel">
            <h3>Etat global du parc</h3><br />

            <p>Nombre total de matériels : @materialNumber</p>
            <p>Nombre de matériels disponibles immédiatement : @avaibleMaterial</p>
            <p>Nombre de matériels HS : @outOfOrderMaterialNumber</p>
            <p>Nombre d'incidents en cours : ---</p><br />
        </div>

        <div class="col-md-5 state_panel">
            <h3>Recherche d'un matériel</h3>

            <form method="post" action="/Home/MaterialSearch">

                <div class="row">
                    <div class="col-md-4">
                        <h4>Type de matériel :</h4>
                    </div>
                    <div class="col-md-8">
                        <select class="form-select" id="material-select" name="typeForm">
                            <option selected disabled>Choisissez un type de matériel</option>
                            @foreach (var materialType in Model.MaterialTypes)
                            {
                                <option value="@materialType.TypeName">@materialType.TypeName</option>
                            }

                        </select>
                    </div>
                    <input type="hidden" name="searchResult" value="@searchResult.ToString()" />
                        @foreach (var item in materialList)
                        {
                            <input type="hidden" name="materialList" value="@item" />
                        }

                    <div class="justify-content-center">
                        <button type="submit" class="btn btn-warning" id="search_button_material_state">Rechercher</button>
                    </div>

                
            </form>
        </div>

    </div>
</div>

@if (searchResult)
{
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10 state_panel" id="search_results">
                <h3>Résultats de la recherche</h3><br />

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Type de matériel</th>
                            <th scope="col">État</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sentence in materialList)
                        {
                            <tr>
                                <td>@sentence</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}